body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('Atas.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}



